<div class="control-panel">
  <ul class="nav nav-tabs" role="tablist">
    <li class="nav-item">
      <a href="#order" data-toggle="tab" class="nav-link active" role="tab">訂單</a>
    </li>
    <li class="nav-item">
      <a href="#product" data-toggle="tab" class="nav-link" role="tab" (click)="onProductTabClicked()">產品</a>
    </li>
    <li class="nav-item">
      <a href="#user" data-toggle="tab" class="nav-link" role="tab" (click)="onUserTabClicked()">會員</a>
    </li>
  </ul>
  <div class="tab-content">
    <div class="tab-pane active" id="order" role="tabpanel">
      <div class="order" *ngIf="!isShowingOrderDetail">
        <table class="table table-inverse">
          <thead>
            <tr>
              <th>Email</th>
              <th>數量</th>
              <th>日期</th>
              <th>動作</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of orderArray">
              <th scope="row">{{item.email}}</th>
              <td>{{item.total}}</td>
              <td>{{item.date | date}}</td>
              <td>
                <button class="btn btn-primary" (click)="onViewMoreClicked(item)">查看</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="order-detail" *ngIf="isShowingOrderDetail">
        <button class="btn btn-primary" (click)="onBackToOrderClicked()">Back</button>
        <h2>{{orderDetail.email}}</h2>
        <h3>總數：{{orderDetail.total}}</h3>
        <h3>日期：{{orderDetail.date | date}}</h3>
        <table class="table table-inverse">
          <thead>
            <tr>
              <th>產品</th>
              <th>數量</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of orderDetail.products">
              <th scope="row">{{item.name}}</th>
              <td>{{item.amount}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="tab-pane" id="product" role="tabpanel">
      <div *ngIf="isShowingProductTable">
        <div class="row">
          <div class="col-sm-6">
            <h1>{{tabProductTitle}}</h1>
          </div>
          <div class="col-sm-6">
            <button class="btn btn-primary pull-xs-right" (click)="onAddNewProductClicked()" *ngIf="!isAddingNewProduct">Add</button>
            <button class="btn btn-primary pull-xs-right" (click)="onBackInProductClicked()" *ngIf="isAddingNewProduct">返回</button>
          </div>
        </div>
        <table class="table table-inverse" *ngIf="!isAddingNewProduct">
          <thead>
            <tr>
              <th>代號</th>
              <th>類別</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of productArray">
              <th scope="row">{{item.name}}</th>
              <td>{{item.category}}</td>
              <td>
                <button class="btn btn-primary" (click)="onToggleEnabledClicked(item)">
                  <span *ngIf="!item.enabled">Enable</span>
                  <span *ngIf="item.enabled">Disable</span>
                </button>
                <button class="btn btn-danger" type="button" data-toggle="modal" data-target="#delete-product-modal" (click)="onDeleteProductClicked(item)">Delete</button>
              </td>
            </tr>
          </tbody>
        </table>
        <div class="product-add-new" *ngIf="isAddingNewProduct">
          <form>
            <fieldset class="form-group">
              <label for="formProductName">產品名稱</label>
              <input type="text" class="form-control" [(ngModel)]="productName">
            </fieldset>
            <fieldset class="form-group" *ngIf="!newCategory">
              <label for="fromProductCategory">類別</label>
              <select class="form-control" id="testSelect" [(ngModel)]="selectedCategory">
                <option *ngFor="let item of categoryArray" [value]="item">{{item}}</option>
              </select>
            </fieldset>
            <fieldset class="form-group">
              <div class="row">
                <div class="col-sm-8 input-new-category">
                  <input type="text" name="category" value="" class="form-control" placeholder="增新類別" [(ngModel)]="newCategory">
                </div>
                <div class="col-sm-2">
                  <button class="btn btn-secondary" (click)="resetNewCategory()">Reset</button>
                </div>
              </div>
            </fieldset>
            <!-- <fieldset class="form-group">
              <label class="file">
                <input type="file" id="inputImageFile">
                <span class="file-custom"></span>
              </label>
            </fieldset> -->
            <fieldset class="form-group">
              <label for="formProductFile">圖片上傳</label>
              <input type="file" class="form-control-file" id="inputImageFile">
            </fieldset>
            <button type="submit" class="btn btn-primary" (click)="onSubmitNewProductClicked()">Submit</button>
          </form>
        </div>
      </div>
      <div class="modal fade" id="delete-product-modal">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
              <h4 class="modal-title">Delete Product</h4>
            </div>
            <div class="modal-body">
              確定要移除該產品嗎?
            </div>
            <div class="modal-footer">
              <button class="btn btn-secondary" type="button" data-dismiss="modal">Close</button>
              <button class="btn btn-primary" type="button" data-dismiss="modal" (click)="confirmDeleteProduct()">Delete</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="tab-pane" id="user" role="tabpanel">
      <div *ngIf="isShowingUser">
        <h1>使用者</h1>
        <form class="form-add-user">
          <fieldset class="form-group">
            <label for="email-input">Email</label>
            <input type="email" class="form-control" placeholder="帳號" [(ngModel)]="newEmail">
          </fieldset>
          <button class="btn btn-primary add-email-button" (click)="onAddingEmailClicked()">新增</button>
        </form>
        <table class="table table-inverse">
          <thead>
            <tr>
              <th>Email</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let user of userArray">
              <th scope="row">{{user.email}}</th>
              <td>
                <button class="btn btn-primary" type="button" data-toggle="modal" data-target="#delete-user-modal" (click)="onDeleteUserClicked(user)" *ngIf="user.account_type != 1">Delete</button>
              </td>
            </tr>
          </tbody>
        </table>
        <div class="modal fade" id="delete-user-modal">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Delete User</h4>
              </div>
              <div class="modal-body">
                確認移除該用戶嗎？
              </div>
              <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Close</button>
                <button class="btn btn-primary" type="button" data-dismiss="modal" (click)="onConfirmDeleteUser()">Delete</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
